/* FONTS */

@font-face {
  font-family: "bebas-neue";
  src: url('fonts/bebas-neue.otf') format('opentype');
}

@font-face {
  font-family: "champagne-limousines";
  src: url('fonts/champagne-limousines.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-bold-italic";
  src: url('fonts/champagne-limousines-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-bold";
  src: url('fonts/champagne-limousines-bold.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-italic";
  src: url('fonts/champagne-limousines-italic.ttf') format('truetype');
}

/* ELEMENTS */

a {
  text-decoration: none;
  color: #000;
}

blockquote {
  padding: 20px;
  padding-left: 100px;
  font-size: 22px;
  width: 702px;
  margin-left: -20px;
  background: url("img/quotation.png") no-repeat rgba(0,0,0,0.3);
  background-position: 12px 15px;
}

body {
  font-family: "champagne-limousines";
  margin: 0px;
  padding: 0px;
  background-size: cover;
  color: #000;
}

h1, h2, h3 {
  font-family: "bebas-neue";
}

p {
  margin-top: 10px;
  font-size: 18px;
}

html, body 
{
  height: 100%;
}

.navbar-toggle 
{
  float: left;
  margin-left: 15px;
}

.navmenu 
{
  z-index: 1;
  width: 200px;
}

.canvas 
{
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

/* vertical-centered text */
.text-vcenter 
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 
{
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home 
{
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg
{ 
  position: fixed; 
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  background: url("img/bg.jpg") top center no-repeat; 
  z-index: -2;
  length: 100%;
}

#slogan
{
  position: fixed; 
  height: 90%;
  background: yellow;
  margin-top: 2%;
  top: 0px;
  left: 0px;
  width: 95%;
  height: 80%;
  background: url("img/slogan.png") right no-repeat; 
  background-size: contain;
  z-index: -1;
  opacity: 0.7;
}

#services
{
  background: white;
}

#desktop-nav
{
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #FFF;
  height: 50px;
  margin-top: -50px;
  z-index: 99;
  opacity: 0.9;
  padding: 0px;
  font-size: 20px;
  font-family: "bebas-neue";
}

#desktop-nav ul
{
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

#desktop-nav li
{
  display: inline-block; 
}

.shadow
{
	-moz-box-shadow: 	0px 0px 12px 2px #000;
	-webkit-box-shadow: 	0px 0px 12px 2px #000;
	box-shadow: 		0px 0px 12px 2px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

.tutor-img
{
  padding-top: 2em;
}

.likebutton-placeholder
{
  width: 100px; 
  height: 20px; 
  position: absolute; 
  bottom: 14px; 
  right: 0px;
  opacity: 0.8;
}

.likebutton-placeholder iframe
{
  border: 0px;
}

.twitter-follow-button-placeholder
{
  position: absolute;
  bottom: -10px;
  right: 90px;
  opacity: 0.8;
}

.navmenu-default a, #desktop-nav a
{
  cursor: pointer;
}

/* TWEETS */

*[id*='twitter-widget-'] {
  width: 50%;
  margin: 20px !important;
  float: right !important;
} 

@media (min-width: 0) 
{
  .navbar-toggle 
  {
    display: block; /* force showing the toggle */
  }
  #desktop-nav
  {
    display: none;
  }
}

@media (min-width: 992px) 
{
  body 
  {
    padding: 0;
  }
  .navbar 
  {
/* 
    right: auto;
    background: none;
    border: none;
 */
    display: none;
  }
  .canvas 
  {
    padding: 0;
  }
  #desktop-nav
  {
    display: block; /* force showing the navi */
  }
}

@media (max-width: 768px) 
{
  #home
  {
    height: 50px;
    background: #FFF;
  }
}

@media (max-width: 992px) 
{
  #slogan
  {
    display: none;
  }
}
