/* RESET STYLES */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset, figure {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bebas-neue";
  src: url('fonts/bebas-neue.otf') format('opentype');
}

@font-face {
  font-family: "champagne-limousines";
  src: url('fonts/champagne-limousines.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-bold-italic";
  src: url('fonts/champagne-limousines-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-bold";
  src: url('fonts/champagne-limousines-bold.ttf') format('truetype');
}

@font-face {
  font-family: "champagne-limousines-italic";
  src: url('fonts/champagne-limousines-italic.ttf') format('truetype');
}

/* ELEMENTS */

a {
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px dashed #FFF;
}

a:hover {
  border-bottom: 1px solid #FFF;
}

article {
  padding-top: 30px;
}

blockquote {
  padding: 20px;
  padding-left: 100px;
  font-size: 22px;
  width: 702px;
  margin-left: -20px;
  background: url("img/quotation.png") no-repeat rgba(34,125,159,0.5);
  background-position: 12px 15px;
  min-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: "champagne-limousines";
  margin: 0px;
  padding: 0px;
  background-size: cover;
  color: #FFF;
  background: #0295c9;
}

h1, h1 a {
  font-size: 30px;
  text-decoration: none;
  margin-left: 4px;
}

p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 30px;
  padding: 8px;
  text-align: justify;
}


/* CLASSES */

.bx-wrapper .bx-viewport
{
  -moz-box-shadow: 	0px 0px 12px 2px #000;
  -webkit-box-shadow: 	0px 0px 12px 2px #000;
  box-shadow: 		0px 0px 12px 2px #000;
  border: 0;
  left: 0;
  background: #fff;
  padding: 0px;
}

.pagenav a, .pagenav span
{
  margin: 20px 10px 20px 0px;
  background: rgba(0,0,0,0.4);
  display: inline-block;
  padding: 10px;
  border: none;
}

.pagenav a:hover, .pagenav span
{
  background: rgba(255,255,255,0.4);
  border: none;
}

.shadow
{
  -moz-box-shadow:    0px 0px 12px 2px #000;
  -webkit-box-shadow: 0px 0px 12px 2px #000;
  box-shadow:         0px 0px 12px 2px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

/* IDS */

#bg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0px 0px 0px 0px;
	background: url("img/bg.jpg") top center no-repeat #0295c9;
	background-size: cover;
	z-index: -2;
}

#fb-comments-wrapper {
  margin-top: 0px;
  background: rgba(255,255,255,0.3);
}

#fb-like-bottom-wrapper {
  margin-top: 40px;
  background: rgba(255,255,255,0.3);
  padding: 10px;
  margin-bottom: 0px;
}

#fb-like-side-wrapper {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100px;
  display: none;
  background: rgba(0,0,0,0.3);
  padding: 20px 20px 20px 30px;
}

#fb-like-top-wrapper {
  display: inline-block;
  width: 100px;
  margin-left: 70px;
  vertical-align: 13px;
  transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform-origin: 50% 50%;
  z-index: 99;
}

#navi {
  font-family: "bebas-neue";
  width: 100%;
  font-size: 35px;
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 5px;
}

#navi a, #navi span {
  color: #FFF;
  display: inline-block;
  width: 18%;
  text-align: center;
  margin-right: 1%;
  //background: rgba(0,0,0,0.05);
  border: none;
}

#logo, #logo a{
  border: none;
}

#page-title {
  font-family: "bebas-neue";
  font-size: 87px;
}

#slider {
  width: 802px;
  margin-left: -20px;
  margin-top: 10px;
}

#status-title {
  font-family: "bebas-neue";
  font-size: 62px;
}

#wrapper {
  width: 762px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 90px;
}

/* TWEETS */

*[id*='twitter-widget-'] {
  width: 50%;
  margin: 20px !important;
  float: right !important;
} 
